.parallax-hero {
  position: relative;
  /* height: 100vh; */
  height: 500px;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  overflow: hidden;
  /* background-size: 90%; */
}

@media screen and (min-width: 650px) {
  .parallax-hero {
    background-size: 70%;
  }
}

@media screen and (min-width: 900px) {
  .parallax-hero {
    background-size: 50%;
  }
}

@media screen and (min-width: 1200px) {
  .parallax-hero {
    background-size: 30%;
  }
}

.parallax-content {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  color: #fff;
  font-size: 2rem;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.6);
  font-family: "Oswald", sans-serif;  ;
}

.cta-button {
  background: #fff;
  color: #3498db;
  border: none;
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
  border-radius: 5px;
  margin-top: 20px;
}

